@import "../../../assets/base.scss";

.footer {
  @include flex(row, space-evenly, center);
  padding: 1rem;
  width: max-content;
  background-color: white;
  margin: 0 auto;
  margin-block: 1rem;
  gap: 1rem;
  border-radius: 1rem;

  .chatriSection {
    width: clamp(15.5rem, 31vw, 30.5rem);
    height: clamp(15.5rem, 31vw, 30.5rem);
    overflow: hidden;
    border-radius: 1rem;
    position: relative;

    p {
      font-size: clamp(1.625rem, 3.25vw, 2.75rem);
      position: relative;
      color: #323232;
      padding: 1rem;
      z-index: 1;
      text-align: right;
    }

    button {
      z-index: 1;
      position: relative;
    }

    .footerImage {
      border-radius: 1rem;
      z-index: 0;
      transition: all 0.5s ease;
    }

    &:hover {
      .footerImage {
        transform: scale(1.05);
      }
    }
  }

  section{
    @include flex(column, center, space-evenly);
    gap: 1rem;

    .secondBigContainer {
      width: clamp(14.3125rem, 28.625vw, 28.125rem);
      height: clamp(8.0625rem, 16.125vw, 15.625rem);
      @include flex(column, space-between, null);
      background-color: #d7d9dd;
      color: #323232;
      border-radius: 1rem;
      overflow: hidden;
      padding: 1rem;
      position: relative;

      div:nth-of-type(1) {
        @include flex(row, space-between, center);
        p {
          color: #323232;
          font-size: clamp(0.75rem, 1.5vw, 1rem);
        }
        svg {
          transition: transform 100ms linear;
          position: relative;
          z-index: 1;
        }
      }

      div:nth-of-type(2) {
        @include flex(column, flex-start, flex-start);

        h2 {
          color: #323232;
          font-size: clamp(1.15rem, 2.25vw, 1.75rem);
        }
      }

      &:hover {
        svg {
          transform: translate(3px, -3px);
        }
      }
    }

    div:nth-of-type(2) {
      @include flex(row, space-between, center);
    }
  }
}
