@import "../../../assets/base.scss";

.serviceContainer {
  @include flex(row, center, center);
  flex-wrap: wrap;
  padding: 1.45rem 0rem;
}

// ---------------------------------MEDIA

@media (max-width: $MOBILE) {
  .serviceContainer {
    padding: 1rem 0rem;
  }
}
