@import "../../../assets/base.scss";

.intro {
  @include flex(column, center, flex-start);
  width: 100%;
  height: 27.375rem;
  border-radius: 1.5rem;
  padding-left: clamp(2.25rem, 4.5vw, 4rem);
  position: relative;
  margin-top: 0.45rem;

  img {
    border-radius: 1.5rem;
    object-fit: cover;
  }

  div {
    z-index: 1;
    padding: 1.5rem;
    h1 {
      font-size: 6.5rem;
      margin-bottom: 2.5rem;
      line-height: 4.5rem;
    }
    p {
      max-width: 20rem;
      padding-left: 1rem;
      line-height: 1.35rem;
      font-size: 1rem;
      letter-spacing: 0.005rem;
      opacity: 0.9;
    }
    span {
      position: absolute;
      font-size: 0.875rem;
      top: 1.5rem;
      right: 1.5rem;
      opacity: 0.8;
    }
  }
}

// ---------------------------------MEDIA

@media (max-width: $SCREEN) {
  .intro {
    padding-left: clamp(1.25rem, 2.5vw, 2rem);
  }
}

@media (max-width: $PAD) {
  .intro {
    padding-left: clamp(1rem, 2vw, 1.5rem);

    div {
      padding: 0rem;
      padding-top: 10rem;

      h1 {
        font-size: 5.5rem;
        margin-bottom: 1.75rem;
        line-height: 4.5rem;
      }
    }
  }
}

@media (max-width: $TABLET) {
  .intro {
    padding-left: clamp(0.875rem, 1.75vw, 1.25rem);

    div {
      padding: 0rem;
      padding-top: 15rem;

      h1 {
        font-size: 3.875rem;
        margin-bottom: 0.75rem;
        line-height: 4.5rem;
      }
    }
  }
}

@media (max-width: $MOBILE) {
  .intro {
    padding-left: clamp(0.75rem, 1.5vw, 1rem);
    height: 25rem;

    div {
      padding: 0rem;
      padding-top: 15rem;

      h1 {
        font-size: 3rem;
        margin-bottom: 0.75rem;
        line-height: 3.5rem;
      }

      p {
        line-height: 1.25em;
        font-size: 0.875rem;
        letter-spacing: 0rem;
        max-width: 80%;
      }
    }
  }
}
