@import "../../../assets/base.scss";

.card {
  background-color: $primary-background;
  background-color: #28292a;
  width: 27rem;
  height: 22.5rem;
  border-radius: 24px;
  overflow: hidden;
  color: transparent;
  margin: 1.1rem;

  .imageContainer {
    height: 14.5rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    outline: 1px solid #0000001f;
    border-radius: 24px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  div {
    @include flex(column, space-between, flex-start);
    gap: 2.25rem;
    padding: 1rem;

    .headingContainer {
      @include flex(row, space-between, center);
      width: 100%;

      h2 {
        font-size: 1.6rem;
        color: $opacity-accent;
        letter-spacing: 0.04rem;
      }
      svg {
        transition: all 200ms linear;
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    .button {
      background-color: transparent;
      border-radius: 1rem;
      color: $opacity-accent;
      border: 1px solid hsl(0, 0%, 40%);
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      cursor: pointer;
    }

    section {
      @include flex(row, space-evenly, center);
      gap: 0.5rem;
    }
  }
  &:hover {
    svg {
      transform: translate(3px, -3px);
    }
  }
}
