@import "../../../assets/base.scss";

.card {
  width: 24rem;
  //   width: clamp(14.25rem,28.5vw,28rem);
  height: 21rem;
  border-radius: 0.875rem;


  overflow: hidden;
  color: transparent;
  margin: 1rem;
  //   padding: 0.1rem;

  .imageContainer {
    height: 13.5rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.875rem;


    img {
      border-radius: 0.875rem;

      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  div {
    @include flex(column, space-between, flex-start);
    gap: 1.85rem;
    padding: 1rem;

    .headingContainer {
      @include flex(row, space-between, center);
      width: 100%;

      h2 {
        font-size: 1.5rem;
        color: black;
      }
      svg {
        transition: all 200ms linear;
      }
    }

    .button {
      background-color: transparent;
      border-radius: 1rem;
      color: black;
      border: 1px solid black;
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      cursor: pointer;
    }

    section {
      @include flex(row, space-evenly, center);
      gap: 0.5rem;
    }
  }
  &:hover {
    svg {
      transform: translate(3px, -3px);
    }
  }
}
