@import "../../../assets/base.scss";

.wrapper {
  @include flex(column, center, center);
  padding: 4rem 0rem;
  min-height: 90vh;
  position: relative;


  .zigzag{
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
  }
  .rings{
    position: absolute;
    bottom: 4rem;
    left: 4rem;
  }
}


