@import "../../../assets/base.scss";

.wrapper {
  @include flex(column, center, center);
  padding: 4rem 0rem;
  min-height: 90vh;
  position: relative;


  .zigzag{
    position: absolute;
    top: 4rem;
    right: 4rem;

  }
  .rings{
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    height: 7rem;
    width: 7rem;
  }
}


