@import "../../../assets/base.scss";

.wrapper {
  @include flex(column, flex-start, center);
  gap: 1.5rem;
  margin-bottom: 2rem;

  .topSection {
    @include flex(row, space-evenly, center);
    width: 100%;
    gap: 1rem;

    div {
      @include flex(row, space-around, center);
      width: 100%;
      border-radius: 1rem;
      padding: 1rem;
      gap: 1rem;
      background-size: 400% 400%;
      background-color: #f6f6f6;
      background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
      animation: gradient 15s ease infinite;
      
      &:hover {
        .heroImage {
          transform: scale(1.03);
        }
      }

      section:nth-of-type(1) {
        h1 {
          font-size: clamp(2.25rem, 4.5vw, 4rem);
          color: black;
          text-align: center;
        }
        p {
          text-align: center;
          color: black;
          font-size: 0.875rem;
          margin-top: 0.5rem;
        }
      }

      section:nth-of-type(2) {
        @include flex(row, center, center);
        overflow: hidden;
        border-radius: 1rem;

        .heroImage {
          width: clamp(12.25rem, 24.5vw, 24rem);
          height: clamp(8.5rem, 17vw, 16.5rem);
          border-radius: 1rem;
          filter: contrast(115%) grayscale(40%);
          transition: all 350ms ease;
        }
      }
    }

    .joinButton {
      @include flex(column, space-evenly, center);
      background-color: $primary-orange;
      padding: 2rem 1.75rem;
      border-radius: 1.5rem;
      gap: 1rem;

      p {
        color: black;
        font-size: clamp(0.875rem, 1.75vw, 1.25rem);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }

      svg {
        width: 25px;
        height: 25px;
        transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:hover {
        svg {
          transform: translate(3px, -3px);
        }
      }
    }
  }

  .bottomSection {
    @include flex(row, space-between, center);
    width: 100%;
    gap: 2.5rem;

    .photoSection {
      @include flex(column, flex-start, center);
      flex: 2;

      div:nth-of-type(1) {
        @include flex(row, center, flex-end);
        position: relative;
        width: 100%;

        .NOBG {
          width: clamp(8.035rem, 16.135vw, 15.625rem);
          height: clamp(8.035rem, 16.135vw, 15.625rem);
          filter: contrast(90%) brightness(150%);
          z-index: 1;
        }

        h2 {
          position: absolute;
          bottom: 1rem;
          font-size: clamp(1rem, 2.5vw, 2.5rem);
          z-index: 0;
          color: $primary-blue;
          text-align: center;
        }
      }

      div:nth-of-type(2) {
        @include flex(row, space-between, center);
        background-color: $primary-yellow;
        padding: 1.25rem;
        color: black;
        width: 90%;
        gap: 1rem;
        border-radius: 1rem;

        section {
          @include flex(column, space-between, flex-start);
          gap: 2rem;

          span {
            @include flex(row, space-evenly, center);
            gap: 0.8rem;

            svg {
              width: 25px;
              height: 25px;
            }

            p {
              font-size: 0.7rem;
            }
          }

          h2 {
            font-size: 1.75rem;
          }
        }

        p {
          flex: 1;
          color: black;
          font-size: 0.7rem;
          max-width: 10rem;
          line-height: 1rem;
        }
      }
    }

    .lineSection {
      @include flex(column, space-between, center);
      flex: 2;
      width: 100%;
      gap: 2rem;

      .upperSection {
        @include flex(row, space-between, center);
        padding: 1rem;
        width: 100%;
        background-color: white;
        color: black;
        border-radius: 1rem;
        gap: clamp(1.25rem, 2.5vw, 2rem);

        &:hover {
          sup {
            color: $primary-orange;
          }
        }

        section {
          @include flex(column, space-between, center);
          height: 100%;
          gap: clamp(2rem, 4vw, 3.5rem);
        }

        section:nth-of-type(1) {
          .climate {
            font-size: 0.75rem;
            color: black;
            border: 1px solid black;
            border-radius: 1rem;
            padding: 0.5rem;
          }
          h1 {
            font-size: 5rem;
            position: relative;
            sup {
              position: absolute;
              top: 0;
              right: -0.5rem;
              font-size: 2rem;
              transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
          }
        }

        section:nth-of-type(2) {
          padding: 0.5rem;

          p {
            line-height: 1.25rem;
            color: black;
            font-size: 1rem;
            text-align: left;
            max-width: 85%;
          }

          div {
            @include flex(row, space-evenly, center);
            gap: 0.5rem;

            section {
              @include flex(row, space-evenly, center);
              gap: 0rem;
            }

            .community {
              text-align: left;
              font-size: 0.775rem;
              color: black;
            }
          }
        }
      }

      .lowerSection {
        @include flex(column, space-evenly, center);
        gap: 1rem;
        width: 100%;
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
