@import "../../../assets/base.scss";

.wrapper {
  @include flex(column, flex-start, center);
  gap: 3rem;
  margin-bottom: 3.5rem;
}

// ---------------------------MEDIA

@media (max-width: $PAD) {
  .wrapper {
    margin-bottom: 2.75rem;
  }
 }
