@import "../../../assets/base.scss";

.bar {
  @include flex(column, flex-start, flex-start);
  width: 26rem;
  height: 35rem;
  background-color: rgba(22, 22, 23, 0.85);
  backdrop-filter: saturate(180%) blur(2rem);
  border-radius: 1rem;
  border: 1px solid $dark-accent;
  padding: 1.5rem;
  animation: open 350ms 1 cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
  gap: 1rem;

  svg {
    width: 2rem;
    height: 2rem;
  }

  .bottomContainer {
    @include flex(row, space-between, center);
    width: 100%;
    margin-top: 2rem;
    gap: 1rem;

    .login {
      border: none;
      border-radius: 1rem;
      background-color: $primary-yellow;
      color: black;
      padding: 0.5rem 2.5rem;
      font-size: 0.65rem;
      cursor: pointer;
    }

    .close {
      border: none;
      border-radius: 1rem;
      background-color: $primary-blue;
      background-color: $primary-purple;
      color: black;
      padding: 0.5rem 1.5rem;
      font-size: 0.65rem;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    img {
      border-radius: 50%;
    }
  }
}

.closeSidebar {
  animation: close 350ms 1 cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes open {
  0% {
    transform: translateY(40rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes close {
  0% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(40rem);
  }
}
