@import "../../../assets/base.scss";

.cardContainer {
  @include flex(column, space-between, null);
  width: clamp(6.875rem, 13.75vw, 13.25rem);
  height: clamp(6.875rem, 13.75vw, 13.25rem);
  padding: 0.8rem;

  border-radius: 1rem;
  background-color: $primary-purple;

  div {
    @include flex(row, space-between, center);

    svg {
      transition: transform 100ms linear;
    }

    p {
      font-size: 0.7rem;
      max-width: 5rem;
    }
  }

  h2 {
    font-size: clamp(1.25rem, 2.5vw, 2rem);
  }

  &:hover {
    svg {
      transform: translate(3px, -3px);
    }
  }
}
