@import "../../../assets/base.scss";

.footer {
  @include flex(column, space-evenly, center);

  svg {
    margin: 2rem 0rem -0.5rem 0rem;
  }
  .container {
    @include flex(column, space-evenly, center);
    margin: 4.85rem 0rem;
    gap: 2rem;

    .topSection {
      @include flex(row, space-evenly, center);
      gap: 8rem;

      section:nth-of-type(1) {
        @include flex(column, flex-start, flex-start);
        gap: 1.25rem;

        p {
          max-width: 25rem;
          font-size: 0.92rem;
          color: #d0d0d0;
          line-height: 1.32rem;
        }

        button {
          padding: 0.1rem;
          border-bottom: 4px solid transparent;
          transition: all 300 cubic-bezier(0.165, 0.84, 0.44, 1);

          svg {
            width: 35px;
            height: 35px;
            margin: 0;
          }

          &:hover {
            border-bottom: 4px solid skyblue;
          }
        }
      }

      section:nth-of-type(2) {
        @include flex(row, space-evenly, flex-start);
        gap: 5rem;

        ul {
          @include flex(column, flex-start, flex-start);
          gap: 1.5rem;
          margin-top: 2rem;
          list-style-type: none;

          p {
            font-size: 0.85rem;
            color: #d0d0d0;
            letter-spacing: 0.01rem;
          }

          li,
          a {
            font-size: 0.945rem;
            color: #a8c7fa;
            border-bottom: 1px solid transparent;

            &:hover {
              border-bottom: 1px solid #a8c7fa;
              cursor: pointer;
            }
          }
        }
      }
    }

    .bottomSection {
      @include flex(row, flex-start, center);
      gap: 1.25rem;
      width: 100%;

      a {
        color: #d0d0d0;
        font-size: 0.945rem;

        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #d0d0d0;
        }
      }

      .logout {
        border: 0;
        background-color: transparent;
        color: #a8c7fa;

        font-size: 0.945rem;

        border-bottom: 1px solid transparent;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid #a8c7fa;
        }
      }
    }
  }
}

// ---------------------------------------MEDIA

@media (max-width: $SCREEN) {
  .footer {
    svg {
      width: 90%;
    }

    .container {
      margin: 4.5rem 0rem;
      gap: 2.25rem;
      .topSection {
        gap: clamp(3.25rem, 6.5vw, 6rem);
        section:nth-of-type(2) {
          gap: 3.875rem;
        }
      }
    }
  }
}

@media (max-width: $PAD) {
  .footer {
    .container {
      margin: 3.875rem 0rem;
      gap: 3rem;
      padding: 0rem clamp(4.25rem, 8.5vw, 8rem);

      .topSection {
        @include flex(column, space-evenly, center);
        gap: 1rem;

        section:nth-of-type(1) {
          width: 100%;

          p {
            max-width: max-content;
          }
        }
        section:nth-of-type(2) {
          @include flex(row, space-around, flex-start);
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: $TABLET) {
  .footer {
    .container {
      padding: 0rem clamp(2.75rem, 5.5vw, 5rem);
    }
  }
}

@media (max-width: $MOBILE) {
  .footer {

    svg {
      width: 100%;
    }

    .container {
      padding: 0rem clamp(1.25rem, 2.5vw, 2rem);

      .topSection {
        section:nth-of-type(1) {
          p {
            font-size: 0.8rem;
            line-height: 1.15rem;
          }

          button {
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }

        section:nth-of-type(2) {
          gap: 2.5rem;

          ul {
            p {
              font-size: 0.75rem;
            }

            a {
              font-size: 0.875em;
            }
          }
        }
      }

      .bottomSection {
        .logout, a {
          font-size: 0.875em;
        }
      }
    }
  }
}
