@import "../../../assets/base.scss";

.footer {
  @include flex(column, space-evenly, center);

  svg {
    margin: 2rem 0rem 0rem 0rem;
  }
  .container {
    @include flex(column, space-evenly, center);
    padding: 0rem 5rem;
    margin: 4.85rem 0rem;
    gap: 2rem;

    .topSection {
      @include flex(row, space-evenly, center);
      gap: 6rem;

      section:nth-of-type(1) {
        @include flex(column, flex-start, flex-start);
        gap: 1rem;

        p {
          max-width: 25rem;
          font-size: 0.875rem;
          color: #d0d0d0;
          line-height: 1.2rem;
        }

        button {
          padding: 0.1rem;
          border-bottom: 4px solid transparent;
          transition: all 300 cubic-bezier(0.165, 0.84, 0.44, 1);

          svg {
            width: 30px;
            height: 30px;
            margin: 0;
          }

          &:hover {
            border-bottom: 4px solid skyblue;
          }
        }
      }

      section:nth-of-type(2) {
        @include flex(row, space-evenly, flex-start);
        gap: 4rem;

        ul {
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          margin-top: 2rem;
          list-style-type: none;

          p {
            font-size: 0.75rem;
            color: #d0d0d0;
          }

          li,
          a {
            font-size: 0.875rem;
            color: #a8c7fa;
            border-bottom: 1px solid transparent;

            &:hover {
              border-bottom: 1px solid #a8c7fa;
              cursor: pointer;
            }
          }
        }
      }
    }

    .bottomSection {
      @include flex(row, flex-start, center);
      gap: 1.25rem;
      width: 100%;

      a {
        color: #d0d0d0;
        font-size: 0.875rem;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid #d0d0d0;
        }
      }

      .logout {
        border: 0;
        background-color: transparent;
        color: #d94444;
        font-size: 0.875rem;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid #e21818;
        }
      }
    }
  }
}
