$primary-background: hsl(0, 0%, 8%);

$primary-orange: hsl(14, 99%, 50%);
$primary-skyblue: hsl(212, 47%, 75%);
$primary-blue: #0a9abf;
$primary-yellow: hsl(66, 100%, 72%);
$primary-purple: hsl(262, 97%, 76%);
$primary-neon: hsl(81, 85%, 60%);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
