@import "../assets/base.scss";

.about {
  @include flex(column, space-evenly, center);
  padding: 5rem 2rem 3rem 2rem;
  border-radius: 0.575rem;
  position: relative;
  gap: 2rem;

  .more {
    color: $light-accent;
    font-size: 5.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
    word-spacing: 1rem;
    margin-bottom: 0.5rem;

    span {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }
  }

  div {
    width: 70%;
    .content {
      color: $light-accent;
      font-size: 1.1rem;
      line-height: 1.5rem;
      text-align: left;
      margin: 0 auto;
    }

    .Contact {
      background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
      color: rgb(0, 0, 0);
      border-radius: 0.575rem;
      padding: 0.75rem 2rem;
      margin-top: 2rem;
      font-size: 1rem;
      transition: all 500ms ease;

      &:hover {
        border-radius: 0.275rem;
      }
    }
  }

  .everything {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.875rem;
  }
}

// ------------------------MEDIA

@media (max-width: $PAD) {
  .about {
    .more {
      font-size: 5rem;
      letter-spacing: 0.05rem;
      word-spacing: 0.75rem;
    }

    div {
      width: 80%;
    }
  }
}

@media (max-width: $TABLET) {
  .about {
    padding: 3.5rem 1.5rem 1.75rem 3rem;

    .more {
      font-size: 3.5rem;
      word-spacing: 0.5rem;
      margin-bottom: 0rem;
    }

    div {
      width: 95%;
    }
  }
}

@media (max-width: $MOBILE) {
  .about {
    padding: 3.5rem 1.25rem 1.75rem 1.25rem;

    .more {
      font-size: 4.25rem;
      word-spacing: 0.5rem;
    }

    div {
      width: 100%;

      p {
        text-align: center;
      }
    }
  }
}
