@import "../assets/base.scss";

.container {
  @include flex(row, space-evenly, flex-start);
  width: 100%;
  border-radius: 1rem;
  gap: 1rem;

  .left {
    @include flex(column, space-evenly, center);
    gap: clamp(1.25rem, 2.5vw, 2rem);

    .card {
      border: 1.5px solid #0000001a;
    }
    .bottomCard {
      @include flex(column, flex-end, flex-start);
      width: 95%;
      height: 13rem;
      background: $gradient-yellow;
      color: black;
      border-radius: 0.75rem;
      padding: 1.25rem;
      position: relative;

      img {
        position: absolute;
        top: 1rem;
      }
      img:nth-of-type(1) {
        left: 1.5rem;
      }
      img:nth-of-type(2) {
        right: 1.5rem;
        transform: rotate(180deg);
      }

      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 0.975rem;
      }
    }
  }

  form {
    @include flex(column, space-evenly, center);
    gap: 1.65rem;
    outline: 1px solid #404040;
    padding: 3rem 4rem;
    border-radius: 0.75rem;

    span {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: $gradient-yellow;
    }

    .es {
      width: 3rem;
      height: 3rem;
      margin-bottom: 1rem;
    }

    h2 {
      color: $light-accent;
      font-size: 1.875rem;
      width: 100%;
      text-align: left;
      margin-bottom: 1rem;
      word-spacing: 0.25rem;
    }

    .group {
      width: 100%;
      position: relative;

      .label {
        position: absolute;
        width: 100%;
        color: $light-accent;
        font-size: 1rem;
        cursor: text;
        pointer-events: none;
        top: 1.2rem;
        left: 1rem;
        transition: all 100ms linear;
      }
      
      input {
        width: 100%;
        font-size: 1.05rem;
        padding: 1.75rem 0.75rem 0.5rem 0.75rem;
        border-radius: 0.5rem;
        border: 0;
        background-color: $primary-background;
        border: 1px solid $dark-accent;
        color: $light-accent;

        &:focus {
          outline: 1px solid $yellow-accent;
          border: 1px solid #00000000;
        }
      }

      input:focus ~ .label,
      input:not(:focus):valid ~ .label {
        color: $yellow-accent;
        font-size: 0.9rem;
        top: 0.4rem;
        left: 0.4rem;
      }
    }

    .imgLabel {
      @include flex(row, space-evenly, center);
      gap: 1rem;
      color: #000000;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      border: 1.5px solid #0000001a;
      background-color: $primary-purple;
      background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);

      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: hsla(262, 97%, 76%, 0.95);
        cursor: pointer;
      }
    }

    .selectContainer {
      @include flex(row, space-evenly, center);
      gap: 2rem;

      select {
        font-size: 1.05rem;
        padding: 0.75rem 1rem;
        color: $light-accent;
        border-radius: 0.5rem;
        background-color: $primary-background;
        border: 1px solid $dark-accent;

        option {
          color: $light-accent;
          text-align: left;
        }

        &:focus {
          outline: 1px solid $yellow-accent;
          border: 1px solid #00000000;
        }
      }
    }

    button {
      width: 100%;
      padding: 0.75rem;
      border-radius: 4rem;
      font-size: 1.1rem;
      cursor: pointer;
      background-color: $primary-background;
      color: white;
      border: 1px solid $dark-accent;
    }

    .imageInput {
      display: none;
    }
  }
}
