@import "../assets/base.scss";

.contact {
  @include flex(column, space-even44, center);
  padding: 5rem 2rem 3rem 2rem;
  border-radius: 0.575rem;
  position: relative;
  gap: 2rem;
  width: 100%;

  .heading {
    color: $light-accent;
    text-align: center;
    font-size: 5.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.25rem;
    margin-bottom: 0.5rem;

    span {
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }
  }

  p {
    color: $light-accent;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.5rem;
    margin: 0 auto;
    width: 70%;
  }

  form {
    @include flex(column, flex-end, flex-end);
    gap: 1.75rem;
    margin-block: 2rem;
    width: 100%;

    textarea {
      max-width: 70%;
      width: 70%;
      margin: 0 auto;

      min-height: 10rem;
      letter-spacing: 0.02rem;
      font-size: 1.1rem;

      padding: 2.5rem;
      background-color: $primary-background;
      border: 1px solid $dark-accent;
      color: $light-accent;
      border-radius: 0.5rem;
    }

    button {
      padding: 0.75rem 3rem;
      font-size: 1.1rem;

      border: 1px solid $dark-accent;
      color: black;
      background-color: #c1dfc4;
      border-radius: 0.5rem;
      transition: background-color 400ms linear;
      margin-right: 15%;

      &:hover {
        background-color: #bfdfc2da;
        cursor: pointer;
      }
    }
  }
}

// -----------------------MEDIA

@media (max-width: $PAD) {
  .contact {
    p {
      width: 80%;
    }

    form {
      margin-block: 1rem;

      textarea {
        max-width: 80%;
        width: 80%;
        padding: 1rem;

        letter-spacing: 0.02rem;
        font-size: 1rem;
      }

      button {
        margin-right: 10%;
      }
    }
  }
}

@media (max-width: $TABLET) {
  .contact {
    padding: 3rem 1.5rem 3rem 1.5rem;

    .heading {
      font-size: 4rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.25rem;
    }

    p {
      width: 95%;
    }

    form {
      margin-block: 0.5rem;

      textarea {
        max-width: 90%;
        width: 90%;
        padding: 1rem;
        border: 2px solid $dark-accent;

        letter-spacing: 0.02rem;
        font-size: 1rem;
        line-height: 1.25rem;

        min-height: 15rem;
      }

      button {
        margin-right: 2.5%;
        padding: 0.5rem 2rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: $TABLET) {
  .contact {
    padding: 3rem 0.25rem 3rem 0.25rem;

    .heading {
      font-size: 3.875rem;
      letter-spacing: 0.1rem;
      word-spacing: 0.25rem;
      margin-bottom: 0rem;
    }

    form {
      margin-block: 0.5rem;

      textarea {
        max-width: 100%;
        width: 100%;
        padding: 1rem;
        border: 1px solid $dark-accent;

        letter-spacing: 0.02rem;
        font-size: 1rem;
        line-height: 1.25rem;

        min-height: 15rem;
      }

      button {
        margin-right: 0%;
        padding: 0.5rem 2rem;
        font-size: 1.1rem;
      }
    }
  }
}
