@import "../../../assets/base.scss";

.card {
  @include flex(column, space-between, flex-start);
  height: 12rem;
  height: clmap(6.25rem,12.5vw,12rem);
  width: 22rem;
  border-radius: 0.75rem;
  padding: 1.5rem;
  transform: skew(0deg, -14deg) rotate(-1deg);
  transition: transform 200ms ease-in-out;
  position: absolute;

  div {
    @include flex(row, space-between, center);
    width: 100%;
    h1 {
      font-size: 1.5rem;
      color: black;
      letter-spacing: 0.05rem;
    }
    .arrow {
      transition: all 300ms ease-in-out;
    }
  }

  .button {
    background-color: transparent;
    border-radius: 1rem;
    color: black;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    font-size: 0.65rem;
  }

  &:hover{
     .arrow{
          transform: translate(4px,-4px);
     }
  }
}
